body {
    background-color:#3D3D3D;
    margin: 0px;
}

#header {
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 80px;
    text-align: center;
    background-color: #292929;
}

#section {
    width: 700px;
    height: 300px;
    background-color: #efe9e9;
    position: absolute;
    left: 300px;
    top: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
h1,h3 {
    color: red;
}


a{color:#FFF;
	 text-decoration:none;
	}
#link1{
	position:absolute;
	background-color:#999999;
	height:50px;
	width:300px;
	 left: 500px;
    top: 180px;
	text-decoration:none;
	text-align:center;
	font-size:24px;
	    padding-top: 16px;
		border-top-left-radius:8px;
		border-top-right-radius:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}

#link2{
	position:absolute;
	background-color:#999999;
	height:50px;
	width:300px;
	top: 300px;
		 left: 500px;
		 text-decoration:none;
		 text-align:center;
		 font-size:24px;
		     padding-top: 16px;
			 	border-top-left-radius:8px;
		border-top-right-radius:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}